/* byo123456789 : Fri, 28 Jan 2011 11:00:38 +0800 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
td {
border: 1px solid #ccc;
}
fieldset,img {
border:0;
}
address,caption,cite,code,dfn,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym {
border:0;
}
pre{
font-size: 1em ;
}
.article-content{
_height: 1% ;
overflow: hidden ;
_overflow: none;
}

/*------------------------------ #Open ------------------------------- */
html{
SCROLLBAR-FACE-COLOR: #fff;
SCROLLBAR-HIGHLIGHT-COLOR: #fff9ef;
SCROLLBAR-SHADOW-COLOR: #fff9ef;
SCROLLBAR-3DLIGHT-COLOR: #fff9ef;
SCROLLBAR-ARROW-COLOR: #fff9ef;
SCROLLBAR-TRACK-COLOR: #fff9ef;
SCROLLBAR-DARKSHADOW-COLOR: #fff9ef;
SCROLLBAR-BASE-COLOR: #fff9ef;
}
body{
font-family:arial;
font-size: 9pt;
color:#777;
letter-spacing: 1px;
background:#fff9ef url('http://pic.pimg.tw/gomay520/76f47c5328c77562caa120c18012023c.jpg') left top repeat;
margin: 0px auto;
}
a{
text-decoration:none ;
color:#000;
}
a:hover{
color:#777;
}
br {
letter-spacing: 0;
}
input {
border: 0px solid #ccc;
background: #eee;
font-size: 9pt;
font-family: arial;
color: #777;
height: 18px;
padding: 0px 5px;
vertical-align: middle;
-moz-border-radius: 5px;
}
textarea {
background:#eee;
overflow:hidden ;
border: 0px;
}
#body-div{
overflow:hidden ;
width: 945px;
margin: 0 auto;
background: url('http://pic.pimg.tw/gomay520/eddb4d9f8de86adf58a6bb7a0307b744.jpg') left top repeat-y;
}
/* AUTHORITY
-------------------------------------------------------------------------*/
#authority{
height:0px;
position:absolute;
z-index:99999;
}
#authority a{
background: #eea593;
padding: 3px;
position:relative;
top: 280px;
left: 10px;
float:left;
margin: 0px 7px 0px 0px;
color:#fff;
font-weight:bold;
-moz-border-radius: 5px;
}
#authority a:hover{
}

/* CONTAINER
-------------------------------------------------------------------------*/
#container{
}
#container2{
}
#container3{
}

#main{
margin: 0px 0px 0px 3px;
}
#main:after{
content:"." ;
height:0 ;
display:block ;
clear:both ;
visibility:hidden ;
overflow:hidden ;
}



/* HEADER
-------------------------------------------------------------------------*/

#header{
position:relative;
width:945px;
height:389px;
background: url('http://pic.pimg.tw/gomay520/fb6a0b58367e7b3ce2ed97178a91a908.jpg') no-repeat left top;
color:#555;
}
#header a{
color:#555;
}
#header a:hover{
color:#555;
}

#banner{
position:absolute;
left: 10px;
top: 45px;
}


#banner h1 a{
width: 250px;
font-size: 20px;
font-family: simhei;
display: block;
color:#b4caa3;
overflow: hidden;
}
#banner h1 a:hover{
color:#b4caa3;
}
#banner h2{
word-break: break-all;
text-align: left;
width: 250px;
height: auto;
line-height: 18px;
overflow: hidden;
position:relative;
top: 10px;
left: 0px;
color:#999;
}
#banner h2 a{
color:#fff;
}
#banner .skiplink{
display: none;
}
#blog-category{
position:absolute;
top:260px;
left:0px;
color:#eea594;
}
#blog-category a{color:#eea594;}
#blog-category a:hover{color:#eea594;}
#login-bar {
position:absolute;
left:287px;
top:340px;
color:#999;
}
#login-bar a{
color:#999;
}
.separator {
color:#999;
}

#navigation{
position:absolute;
top:335px;
left:17px;
}
#navigation li{
float:left;
}
#navigation a{
margin-right: 0px;
text-indent: -5000px;
display:block;
width:57px;
height:16px;
color:#fff;
display: block;
}

/* H5 spotlight
-------------------------------------------------------------------------*/

#spotlight{
width:675px;
background: #fefbf6;
border: 1px solid #ddd0c8;
-moz-border-radius: 5px;
margin-bottom:10px;
}
#spotlight h5{
font-weight: bold;
color:#000;
text-align:left;
padding:10px 10px 5px 10px;
}
#spotlight-text{
color: #555;
width:605px ;
padding:5px 10px 10px 10px;
line-height: 21px;
}

#spotlight-text a{
color: #d8bad5;
font-weight:normal;
text-decoration:underline;
}
#spotlight-text a:hover{ color:#d8bad5; }




/* CONTENT
-------------------------------------------------------------------------*/

#content{
width:678px ;
float:right;
_overflow: hidden;
}
.article-head{
padding: 0px;
margin: 0px;
}
.publish{
padding: 11px 0px 0px 120px;
text-align:left;
font-size: 9pt;
color:#888;
font-weight: bold;
background: url('http://pic.pimg.tw/gomay520/b82e1b4ac5021ae64ad75d652c2d494d.jpg') no-repeat left top;
height:48px;
}
.title{
margin: -27px 0px 30px 115px ;
padding: 0px 0px 0px 0px;
font-size: 9pt;
text-align:left;
}
.title a{
color:#f1a78e;
font-weight: bold;
}
.title a:hover{
color:#f1a78e;
}

/* article
-------------------------------------------------------------------------*/
#article-area{
padding: 0px;
margin: 0px;
overflow: hidden;
}
.article-body{
overflow: hidden;
}
.article-content table td{
padding: 5px;
}
.article-content{
font-size: 9pt;
padding: 10px 0px 0px 0px;
line-height:20px;
}
.more {
margin: 20px 10px 20px 0px;
}
.more a{
color:#000;
}
.more a:hover{
}
.author{
color: #000;
text-align:right ;
padding: 5px 5px 10px 0px;
margin: 0px 0px 0px 0px;
background: url('http://pic.pimg.tw/gomay520/e4ff5063e8effdf3008abc03c81aa9b8.jpg') no-repeat center bottom;
}

.author a{
color: #555;
}
.author a:hover{
color: #555;
}
.article-footer{
text-align:right ;
color:#555;
line-height:19px ;
}
.bookmark{
text-align:right ;
padding: 20px 0px 0px 0px;

}
.back-to-top {
margin: 5px 0px 10px 0px;
}
.back-to-top a{
padding: 2px;
background: #b3b3b3;
color: #fff;
}
.history, .refer{
display:none;
}
.forward{
text-align:right ;
}
.forward img{
width: 10px;
height: 10px;
filter :gray;
padding-right: 2px;
}
/* main-list
-------------------------------------------------------------------------*/
#article-box{
margin: 10px 0px 0px 0px;
}
.main-list table{
border-collapse : collapse ;
width:100% ;
margin: 20px 0px 0px 0px;
}
.main-list table td {
border:1px solid #86d1e4;
border-top:0px solid #86d1e4;
border-left:0px solid #86d1e4;
border-right:0px solid #86d1e4;
}
.main-list td ,
.main-list th{
padding: 5px ;
}


/* post-comment & page
-------------------------------------------------------------------------*/
.post-comment{
text-align:center;
}
.post-comment a{
padding: 4px;
background: #efd894;
-moz-border-radius: 5px;
color: #666;
}
.post-comment a:hover{
color: #999;
}

/* COMMENT
-------------------------------------------------------------------------*/
#user-post{
}
.user-post-title{
font-size: 9pt ;
font-family:"arial" ;
margin: 20px 0px 0px 0px ;
}
#trackback-url{
text-align:left ;
}
#trackback-input{
color: #666;
background:#efd894;
}
#trackback-url input{
color: #666;
background:#efd894;
}

.user-post-text{
text-align:center ;
margin: auto 0px;
}
*.single-post{
position: relative;
text-align:left;
overflow:hidden ;
_height:1% ;
background:#fff;
line-height: 18px;
width: 550px;
word-break: break-all;
margin: 10px auto;
padding: 40px 0px 0px 0px;
}

img.pixnet-user {
display: none;
}
.post-info{
position: absolute;
top: 0px;
left: 0px;
width: 98%;
background: #efd894;
overflow: hidden;
color: #666;
padding: 5px 3px 3px 8px;
margin: 0px 0px 0px 0px;
-moz-border-radius: 5px;
}
.post-info a {
background: #fff;
color: #fff;
font-size: 9pt;
font-family:"arial" ;
}
.post-info a:hover { background: #cad65a; }
.post-info img {display:none;}
.user-name a, .user-name a:hover{
background: none;
}

.post-info a.hide-message{
position: absolute;
top: 8px;
right: 10px;
display: block;
width: 10px;
height: 10px;
text-indent: -5000px;
}
.post-info a.delete-message{
position: absolute;
top: 8px;
right: 25px;
display: block;
width: 10px;
height: 10px;
text-indent: -5000px;
}
a.user-name {
padding: 2px;
height: 20px;
text-align: center;
}

.user-ip { display:none; }
.post-photo{
width:60px ;
float:left ;
text-align:center ;
padding: 0px 0px 15px 15px;
}
.post-photo img{
width:60px;
height:60px ;
border: 3px solid #ffffff;
}
.post-text{
width:81%;
float:left;
padding: 0px 0px 15px 20px;
margin-right: 6px ;
_margin-right: 3px ;
line-height:20px ;
color:#888;
}
.post-text p{
font-weight: bold ;
color:#000;
}

#trackback-box .post-text{
float:none ;
width:auto ;
padding:0px 0px 7px 7px ;
}

.reply-text{
background: url('http://pic.pimg.tw/gomay520/4f012cd0d93e8d6482d0a394b2ad9ef6.jpg') no-repeat 10px 15px;
clear:both ;
float:left;
width:522px ;
border-top: 1px dashed #efd894;
margin-left: 0px;
padding:45px 10px 15px 15px;
color: #000;
line-height:21px ;
-moz-border-radius: 5px;
}
.reply-text textarea{
width: 95%;
height: 1%;
background:#fff;
overflow:hidden ;
border: 0px;
}
.reply-text p{
display:none;
}
.single-post.secret{
min-height:20px;
_height: 20px;
line-height:20px;
padding-left:10px;
width: 540px;
background: #efd894;
padding-top:15px !important;
-moz-border-radius: 5px;
}

.single-post.secret .post-text{
color:#fff;
}

/* LINKS
-------------------------------------------------------------------------*/

#links{
float: left;
width: 250px;
margin-top:20px;
}
#links a{
color:#555;
}
.box{
}
h4.box-title{
color: #eea592;
text-align: left;
font-weight: bold;
padding: 0px 0px 0px 10px;
}
.box-text{
word-break: break-all;
margin: 0px 0px 10px 0px;
padding: 15px 10px 20px 10px;
font-size: 9pt;
color: #222;
line-height: 21px;
background: url('http://pic.pimg.tw/gomay520/4c053b90d5e258655ff1f6aa23cb6e49.jpg') no-repeat center bottom;
}
.box li{
}
.box-more{
margin: 5px 0px 0px 0px;
text-align:right;
}
.box-more a{
padding: 1px 3px;
color:#555;
border:1px solid #fff;
background:#fff;

}
.box-more a:hover{
border:1px solid #fff;
background:#fff;
}
#links .box .box-more a{
display:inline ;
}
#links .box-text a {
display:block ;
color:#555;
}
#links .box-text a:hover{
color:#777;
}






/* Links2
-------------------------------------------------------------------------*/

#calendar table{
width:95%;
margin:0 auto ;
color:#fff;
}

#calendar table th,
#calendar table td{
text-align: center;
font-size:11px;
color:#fff;
border:1px solid #fefaf7;
background: #eea592;
}
#calendar .box-text td a{
color: #555;
background: #c2d6bd;
}
#calendar .box-text td a:hover{
color: #555;
font-weight: bold;
background: #c2d6bd;
}

#visitor{
_height: 1%;
overflow: hidden;
_overflow: none;
}
#visitor .box-text li{
FLOAT:left;
}
#visitor .box-text li a{
margin: 0px 4px 2px 0px;
width: 25px;
height: 25px;
}
#visitor .box-text li a:hover{
background: none;
}
#visitor .box-text li img{
margin: 0px 0px 0px 0px;
}
#visitor .box-text li a img{
height:25px;
width:25px;
}
#visitor .box-text li a:hover img {
height:25px;
width:25px
}
#visitor .box-more {clear:both;}



#crumb ul{
_height: 1% ;
overflow: hidden ;
_overflow: none ;
}
#crumb li{
float:left ;
}



#latest-comment a{
text-align:right ;
}
#latest-comment span{
font-weight:bold ;
}






#links #latest-trackback .box-text a{
border-bottom:0px ;
text-align:left ;
}
#latest-trackback li{
padding:0px 0px 3px 0px ;
margin:0px 0px 3px 0px ;
text-align:left;
}


#links #subsc<x>ription .box-text li a{
border: 0 ;
text-align:left ;
}
#links #subsc<x>ription .box-text li{
padding:0px 0px 3px 0px ;
margin:0px 0px 3px 0px ;
text-align:left;
}

#subscription .box-text{
text-align: left;
}
#subscription .box-text li a{
text-align: left;
}


#search {}
#search .box-text li{
display: inline;
}
input#search-target {
width: 100px;
background: #eee;

}


#feed li{
}


/* FOOTER
-------------------------------------------------------------------------*/
#footer{
clear:both ;
overflow: hidden;
height:70px;
background: url('http://pic.pimg.tw/gomay520/139c778fab940d38b7c283f784975900.jpg') no-repeat left bottom;
letter-spacing: 1px;
line-height:20px ;
color:#666;
padding: 50px 0px 0px 0px;
text-align: right;
}

#footer a{
color:#efa491;
}